/**
 * Define fonts
 */
@font-face {
    font-family: "btb-black";
    src: url("assets/fonts/Battambang/Battambang-Black.ttf");
}
.font-btb-black {
  font-family: "btb-black";
}
@font-face {
  font-family: "btb-bold";
  src: url("assets/fonts/Battambang/Battambang-Bold.ttf");
}
.font-btb-bold {
  font-family: "btb-bold";
}
@font-face {
  font-family: "btb-light";
  src: url("assets/fonts/Battambang/Battambang-Light.ttf");
}
.font-btb-light {
  font-family: "btb-light";
}
@font-face {
  font-family: "btb-regular";
  src: url("assets/fonts/Battambang/Battambang-Regular.ttf");
}
.font-btb {
  font-family: "btb-regular";
}
@font-face {
  font-family: "btb-thin";
  src: url("assets/fonts/Battambang/Battambang-Thin.ttf");
}
.font-btb-thin {
  font-family: "btb-thin";
}

@font-face {
  font-family: "dangrek";
  src: url("assets/fonts/Dangrek/Dangrek-Regular.ttf");
}
.font-dangrek {
  font-family: "dangrek";
}

@font-face {
  font-family: "kantumruy";
  src: url("assets/fonts/Kantumruy/Kantumruy-Regular.ttf");
}
.font-ktr {
  font-family: "kantumruy";
}
@font-face {
  font-family: "kantumruy-light";
  src: url("assets/fonts/Kantumruy/Kantumruy-Light.ttf");
}
.font-ktr-light {
  font-family: "kantumruy-light";
}
@font-face {
  font-family: "kantumruy-bold";
  src: url("assets/fonts/Kantumruy/Kantumruy-Bold.ttf");
}
.font-ktr-bold {
  font-family: "kantumruy-bold";
}
@font-face {
  font-family: moul;
  src: url("assets/fonts/Moul/Moul-Regular.ttf");
}
.font-muol {
  font-family: moul;
}
@font-face {
  font-family: moulpali;
  src: url("assets/fonts/Moulpali/Moulpali-Regular.ttf");
}
.font-moulpali {
  font-family: moulpali;
}
@font-face {
  font-family: preahvihear;
  src: url("assets/fonts/Preahvihear/Preahvihear-Regular.ttf");
}
.font-pvh {
  font-family: preahvihear;
}
@font-face {
  font-family: siemreap;
  src: url("assets/fonts/Siemreap/Siemreap-Regular.ttf");
}
.font-sr {
  font-family: siemreap;
}
@font-face {
  font-family: tacteng;
  src: url("assets/fonts/Tactieng/TACTENG.TTF");
}
.font-tactieng {
  font-family: tacteng;
}
body * {
  font-family: Arial, Helvetica, sans-serif, kantumruy;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-size: 0.8rem;
}

/**
Transition
*/

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/*
  Enter and leave animations can use different
  durations and timing functions.
*/
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

/**
Table Pagination of VCB
**/

.vcb-table-panel {
  @apply relative p-4 overflow-auto mb-24;
}
.vcb-table {
  @apply w-full;
  height: fit-content ;
}
.vcb-table tr.vcb-table-row {
  @apply border-b border-gray-100 text-left ;
}
.vcb-table tr.vcb-table-row td {
  @apply p-2;
}
.vcb-table-actions-panel {
  @apply flex flex-row-reverse ;
}
.vcb-table-actions-panel .vcb-action-button {
  @apply  rounded-full border border-gray-200 w-8 h-8 mx-2 text-center cursor-pointer hover:border-blue-500 hover:text-blue-500  duration-300;
}
.vcb-table-headers {
  @apply border-b border-gray-200;
}
.vcb-table-headers .vcb-table-header {
  @apply px-2 py-4 text-left ;
}
.vcb-table-pagination {
  @apply flex flex-wrap bg-white right-0 bottom-0 border border-l z-50 justify-center py-2 px-8 mx-auto rounded-full ;
}
.vcb-pagination-page {
  @apply rounded-full border border-gray-200 mx-1 leading-7 w-8 h-8 font-bold cursor-pointer hover:text-blue-500 hover:border-blue-500 duration-300;
}
.vcb-filter-panel {
  @apply flex flex-row fixed bg-white right-0 bottom-0 left-0 border border-l p-3 ;
}
.vcb-table-cell {
  @apply leading-6 align-text-top;
}